GIN_MODE=debug

API_GATEWAY_PORT=8080
AUTH_SERVICE_URL=http://localhost:5001
EMPLOYEE_SERVICE_URL=http://localhost:5002
BRANCH_SERVICE_URL=http://localhost:5003
MEMBER_SERVICE_URL=http://localhost:5004
MEMBERSHIP_SERVICE_URL=http://localhost:5005
ATTENDANCE_SERVICE_URL=http://localhost:5006
NOTIFICATION_SERVICE_URL=http://localhost:5007
PAYMENT_SERVICE_URL=http://localhost:5008

AUTH_SERVICE_PORT=5001
EMPLOYEE_SERVICE_PORT=5002
BRANCH_SERVICE_PORT=5003
MEMBER_SERVICE_PORT=5004
MEMBERSHIP_SERVICE_PORT=5005
ATTENDANCE_SERVICE_PORT=5006
NOTIFICATION_SERVICE_PORT=5007
PAYMENT_SERVICE_PORT=5008

AUTH_DATABASE_URL=postgres://postgres:postgres@localhost:5432/auth_db?sslmode=disable
EMPLOYEE_DATABASE_URL=postgres://postgres:postgres@localhost:5432/employee_db?sslmode=disable
BRANCH_DATABASE_URL=postgres://postgres:postgres@localhost:5432/branch_db?sslmode=disable
MEMBER_DATABASE_URL=postgres://postgres:postgres@localhost:5432/member_db?sslmode=disable
MEMBERSHIP_DATABASE_URL=postgres://postgres:postgres@localhost:5432/membership_db?sslmode=disable
ATTENDANCE_DATABASE_URL=postgres://postgres:postgres@localhost:5432/attendance_db?sslmode=disable
NOTIFICATION_DATABASE_URL=postgres://postgres:postgres@localhost:5432/notification_db?sslmode=disable
PAYMENT_DATABASE_URL=postgres://postgres:postgres@localhost:5432/payment_db?sslmode=disable
